* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div {
  position: relative;
  background-color: rgb(240, 248, 255);
}
.header-box {
  position: relative;
  height: 100vh;
  background-color: rgb(26, 56, 104);
  color: white;
  padding: 3rem 1.6rem 5px;
  clip-path: polygon(0 0%, 100% 0, 100% 70%, 47% 100%, 0 100%);
}
.text-box {
}

.header-text {
  font-family: sans-serif;
  font-weight: 350;
  font-size: 35px;
  line-height: 2.5rem;
  font-display: bold;
  margin-bottom: 15px;
}
.sub-text {
}
.text {
  display: block;
  font-family: sans-serif;
  font-display: italic;
  font-size: 13px;
}
.sign-up-box {
  border-radius: 5px;
  margin: 3.5rem auto 2rem;
  background-color: aliceblue;
  width: fit-content;
  display: flex;
}
.input-email {
  border-style: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 2.5rem;
  width: 15rem;
  padding-left: 15px;
}

.input-email::after {
  /* border-style: none; */
}

.btn-signup {
  background-color: rgb(26, 56, 104);
  border: 1px solid;
  margin: auto;
  height: fit-content;
  color: white;
}

.btn-signup:hover {
  background-color: rgb(26, 56, 104, 0.3);
  color: rgb(26, 56, 104);
  font-weight: 700;
}

.btn-go-to-website-div {
  background-color: red;
  width: fit-content;
  border-radius: 50px;
  margin: 0 auto;
}

.btn-go-to-website {
  color: white;
  font-weight: 700;
}

.website-mobile-view-img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  background-size: 1px;
  top: 1.5rem;
  right: 0;
  transform: rotate(5deg);
  z-index: 1;
}

.footer-div {
  background-color: rgba(0, 0, 0, 0.8);
  height: 5rem;
  position: relative;
}

.footer {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* For small devices (larger phones) */

@media only screen and (min-width: 600px) {
  .header-box {
    padding: 2rem 1.6rem 5px;
  }

  .header-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 3rem;
    font-display: bold;
    margin-bottom: 15px;
  }
}

/* For medium screen devices */

@media only screen and (min-width: 768px) {
  .header-box {
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 50% 100%, 0 100%);
  }

  .header-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 3rem;
    font-display: bold;
    margin-bottom: 15px;
  }

  .website-mobile-view-img {
    height: 20rem;
    width: fit-content;
    transform: rotate(5deg);
    position: absolute;
    top: 0.5rem;
    right: 4rem;
    z-index: 1;
  }
  .sign-up-box {
    margin: 2.5rem 0;
  }
  .btn-go-to-website-div {
    margin-left: 5rem;
  }
}

/* For large screen (desktop) devices: */

@media only screen and (min-width: 992px) {
  .header-box {
    height: 100vh;
    background-color: rgb(26, 56, 104);
    color: white;
    padding: 4rem 3rem 5px;
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 35% 100%, 0 100%);
  }

  .header-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 3rem;
    font-display: bold;
    margin-bottom: 15px;
  }

  .sub-text {
  }
  .text {
    display: block;
    font-family: sans-serif;
    font-display: italic;
    font-size: 13px;
    position: relative;
  }
  .sign-up-box {
    background-color: whitesmoke;
    width: 25.5rem;
    height: 3.3rem;
    border-radius: 5px;
    margin: 2rem 0;
  }
  .input-email {
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 3rem;
    width: 20rem;
    padding-left: 15px;
  }

  .input-email::after {
    border-style: none;
  }

  .btn-go-to-website-div {
    background-color: red;
    width: fit-content;
    border-radius: 50px;
  }

  .website-mobile-view-img {
    height: 26rem;
    width: fit-content;
    transform: rotate(5deg);
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-box {
    height: 100vh;
    background-color: rgb(26, 56, 104);
    color: white;
    padding: 4rem 3rem 5px;
    clip-path: polygon(0 0%, 100% 0, 100% 60%, 20% 100%, 0 100%);
  }

  .header-text {
    /* font-family: sans-serif; */
    font-weight: 800;
    font-size: 90px;
    line-height: 6rem;
    /* font-display: bold;
    margin-bottom: 15px; */
  }

  .sub-text {

  }
  .text {
    display: block;
    font-family: sans-serif;
    /* font-display: italic; */
    font-weight: 500;
    font-size: 20px;
  }
  .sign-up-box {
    background-color: whitesmoke;
    width: 40rem;
    height: 4.3rem;
    /*border-radius: 5px;*/
    margin: 4rem 0;
  }
  .input-email {
    /* border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
    height: 4rem;
    width: 32rem;
    /* padding-left: 15px; */
  }

  .btn-signup {
    /* background-color: rgb(26, 56, 104); */
    /* border: 1px solid;
    margin: auto;
    height: fit-content;
    color: white; */
    font-size: 1.5rem;
  }

  /* .input-email::after {
    border-style: none;
  } */

  .btn-go-to-website-div {
    background-color: red;
    height: 4rem;
    width: 18rem;
    margin-left: 11rem;
    border-radius: 50px;
  }


  .website-mobile-view-img {
    height: 40rem;
    /* width: fit-content;
    transform: rotate(5deg);
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 1; */
  }
}
