img {
  width: 9rem;
  height: 25px;
}

nav{
  /* position: fixed; */
}

.nav-item {
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  font-size: small;
}

.nav-about {
  padding-right: 20rem;
  margin-right: 4rem;
}

.nav-item:hover {
  background-color: rgb(26, 56, 104, 0.3);
  color: rgb(26, 56, 104);
  font-weight: 700;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  nav{
    height: 5rem;
  }
  img {
    width: 15rem;
    height: 32px;
  }
  .nav-item{
    font-size: large;
  }
}